.text-display{
    background-color: rgba(174, 172, 172, 0.855);
    margin: 30px;
    flex-direction: column;
    width: 100%;
}
.form-control{
    margin: 20px;
    width: 95%;
    height: 100px;
}
.display{
    width: 100;
    background-color: white;
    margin: 20px;
    height: 100px;
}