<div class="container">

    <div class="row">
        <div class="col right border">
             <div class="user-input">
                <label for="user">User id:-</label>
                <input class="input" type="text" placeholder="">
             </div>
             <div class="btn-grid">
                <button class="btn">Comments</button>
                <button class="btn">Albums</button>
                <button class="btn">Photos</button>
                <button class="btn">Todos</button>
             </div>
             <div class="btn-g">
                <button class="btn-1">Delete</button>
                <button class="btn-1">Update</button>
                <button class="btn-1">Create</button>
             </div>
             <div class="user-input">
                <label for="input">Input Body:-</label>
                <input class="input" type="text" placeholder="">
             </div>
        </div>
        <div class="col left border">
            <div>
                <div class="error">
                    Error Msg
                </div>
                <div class="responce">
                    Responce Data
                </div>
            </div>
        </div>
    </div>
    
</div>
