.navbar{
   
    background-color: rgba(174, 172, 172, 0.855);
    margin: 30px;
}
.navbar-brand{
    font-size: 40px;
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    
}
.container-fluid{
    display: flex;
}
.left , .right{
    
    flex: 1;
    display: flex;
    width: 50%;
 
}
