<!-- <nav class="d-flex d-row">
    <ul>
      <li><a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">First Component</a></li>
      <li><a routerLink="userform" routerLinkActive="active" ariaCurrentWhenActive="page">Second Component</a></li>
    </ul>
  </nav> -->


  <nav class="navbar">
    <div class="container-fluid">
      <div>
        <div class="navbar-nav ">
          
          <a class="nav-link" routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
          <a class="nav-link" routerLink="userform" routerLinkActive="active" ariaCurrentWhenActive="page">User Form</a>
          <a class="nav-link" routerLink="apiscomponent" routerLinkActive="active" ariaCurrentWhenActive="page">API's component</a>
         
        </div>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>
