.formtitle{
    font-weight: bold;
  }
  
  form{
    border: black 2px solid;
    border-radius: 10px;
    padding: 20px;
  }
  .container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .one{
    width: 50%;
  }
  .two{
    
    font-size: medium;

  }

  .three{
    margin-bottom: 30px;
  }
  
  .text-danger{
    color: red;
  }

  .four{
    text-align: center;
  }
  .form-control{
    width: 100%;
    padding: 5px;
  }

  .btn{
    width: 40%;
    padding: 1%;
    background-color: rgba(102, 100, 100, 0.855);
    color: white;
    margin: 5px;
    border-radius: 10px;
  }
  .six{
   
    display: flex;
    border: black 2px solid ;
    padding: 4px;
    width: 50%;
    border-radius: 10px;

  }
  .seven{
    /* w-50 m-auto my-2 */
    font-size: large;
  text-align: center;
    margin-top: 20px;
  }
  .eight{
    margin-top: 20px;
    
  }