
<div class="container">
    <div class="one">
      <div class="two">Add Database Entry</div>
      <div class="">
        <form [formGroup]="validate" (ngSubmit)="onSubmit()" class="form">
          <div class="three">
            <label for="dbname" class="form-label">Database Name</label>
            <input type="text" class="form-control" formControlName="dbname" id="dbname" placeholder="Enter Database Name">
            <div class="text-danger" *ngIf="validate.get('dbname')?.errors?.['required'] && (validate.get('dbname')?.dirty || validate.get('dbname')?.touched)">
              Database Name is required.
            </div>
            <div class="text-danger" *ngIf="validate.get('dbname')?.errors?.['pattern'] ">
              Special characters are not allowed. 
            </div>
          </div>
          <div class="three">
            <label for="portnumber" class="form-label">Port Number</label>
            <input type="number" class="form-control" formControlName = "portnumber" id="portnumber" placeholder="Port Number">
            <div class="text-danger" *ngIf="validate.get('portnumber')?.errors?.['required'] && (validate.get('portnumber')?.dirty || validate.get('portnumber')?.touched)">
              Port number is required.
            </div>
            <div class="text-danger" *ngIf="validate.get('portnumber')?.errors?.['pattern']">
              Port number must be less than 5 number .
            </div>
          </div>
          <div class="three">
            <label for="dbpassword" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName = "dbpassword"  id="dbpassword" placeholder="Password">
            <div class="text-danger" *ngIf="validate.get('dbpassword')?.errors?.['required'] && (validate.get('dbpassword')?.dirty || validate.get('dbpassword')?.touched)">
              Password is required.
            </div>
            <div class="text-danger" *ngIf="validate.get('dbpassword')?.errors?.['minlength'] ">
              Password must contain at least 6 characters.
            </div>
          </div>
          <div class="three">
            <label for="dburl" class="form-label">Database Url</label>
            <input type="url" class="form-control" formControlName = "dburl" id="dburl" placeholder="URL">
            <div class="text-danger" *ngIf="validate.get('dburl')?.errors?.['required'] && (validate.get('dburl')?.dirty || validate.get('dburl')?.touched)">
              URL is required.
            </div>
            <div class="text-danger" *ngIf=" validate.get('dburl')?.errors?.['pattern']">
              Invalid URL.
            </div>
          </div>
          <div class="four">
            <button type="reset" class="btn">Cancel</button>
            <button type="submit" class="btn" [disabled]="!validate.valid">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
   <div class="container">
    
    <div class="six">
      <div class="seven">Entries:</div>
      <div class="eight">
        
        <div  *ngFor="let form of storedForms" class="stored-form" >
          <p><strong>Database Name:</strong> {{ form.dbname }}</p>
          <p><strong>Port Number:</strong> {{ form.portnumber }}</p>
          <p><strong>Database URL:</strong> {{ form.dburl }}</p>
          <hr>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="w-100">
    
  </div>
  